.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; 
    z-index: 1;

}
.hero-container p {
    color: white;
    line-height: 4;
}
.intro {
    font-size: 2rem;
    color: white;
}

.fsdev {
    color: yellowgreen;
}