.about-container {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 40px; 
}


.main-wrapper {
    flex: 1; 
    width: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.about-header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.about-header i {
    color: greenyellow;
    font-size: 2rem;
    margin-left: 15px;
}

.underline {
    width: 150px;
    height: 4px;
    background-color: yellowgreen;
    margin: 10px auto;
    border-radius: 2px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
}

.about-contents {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px;
}
.about-contents h1 {
    font-size: 1.5rem;
    color: yellowgreen;
    line-height: 3;
}
.about-contents p {
    font-size: 1rem;
    color: #cccccc;
    line-height: 2;
}

.about-contents .about-image {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.about-contents img {
    height: auto;
    max-width: 500px;
    border-radius: 50px;
}

.techSkills {
    margin-top: 10px;
    font-size: 1rem;
    color: #cccccc;
}

.techSkills h1 {
    margin-top: 80px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.techSkills ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 20px;
    line-height: 2;
    text-align: left;
}

.techSkills li {
    font-size: 1rem;
}


.workExp {
    margin-top: 80px;
    font-size: 1rem;
    color: #cccccc;
}

.workExp h1 {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.workExp .underline {
    width: 200px;
    height: 4px;
    background-color: yellowgreen;
    margin: 10px auto;
    border-radius: 2px;
}

.workExpContent {
    display: flex;
    justify-content: space-between;
}

.workExpSection,
.educationSection {
    flex: 1;
}

.workExpSection h2,
.educationSection h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.workExpSection p,
.educationSection p {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.creds {
    text-decoration: none;
    color: yellowgreen;
}
.creds:hover {
    color: white;
}

.fa-briefcase, .fa-graduation-cap {
    color: yellowgreen;
    font-size: 2rem;
}

.resume-link {
    text-decoration: none;
    line-height: 4;
    font-size: 15px;
    background-color: transparent;
    color: yellowgreen;
    padding: 8px 20px;
    border: 2px solid yellowgreen;
    transition: all 0.3s ease-out;
    border-radius: 10px;
}

.resume-link:hover {
    color: white;
    border: 2px solid white;
}