.footer-container {
    background: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px -2px 4px rgba(255, 255, 255, 0.5);
}

